/* styles for screens of 300px  */
.nav {
    border-radius: 3px;
    margin: 0.2rem;
    padding: 0.3rem;
    background-color: rgb(11, 52, 95);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.link {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.icon {
    margin-right: 0.2rem;
}
.horizonNav {
    display: none;
}
.verticalNav {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0.3rem;
    padding: 0.3rem;
    border: 1px solid rgb(11, 52, 95);
}
.verticalNav li {
    border-radius: 5px;
    display: flex;
    align-items: center;
    border: 1px solid rgb(11, 52, 95);
    padding: 0.3rem;
    margin-bottom: 0.3rem;
}
.colorMode:hover {
    border: 3px solid #fff;
}
.verticalNav li:hover {
    cursor: pointer;
    background-color: rgb(11, 52, 95);
}
.logo {
    object-fit: cover;
    height: 8rem;
    width: 8rem;
}
.brandNameBox span {
    font-size: 1.3rem;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.menu:hover {
    cursor: pointer;
}
.close:hover {
    cursor: pointer;
}


@media screen and (min-width: 370px) {
    .brandNameBox span {
        font-size: 1.8rem;
    }
}